* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-color: white;
  --text-color: black;
  --alert-color: #ff4d4d;
  --primary-font: 'Fuzzy Bubbles', sans-serif;
  --secondary-font: 'Nunito', sans-serif;
  --title-medium: 1.5rem;
}
a {
  color: var(--text-color);
  text-decoration: none;

  &:visited {
    color: inherit;
  }
}
li {
  list-style-type: none;
}
body {
  height: 100vh;
}
button,
input[type='submit'] {
  cursor: pointer;
  border: none;
  background-color: white;
}
